footer {
    margin: 10px 0;
    color: $cloud;
    text-align: center;
    background: url(../img/top_footer_bg.png) no-repeat;
    height: 138px;
    clear: both;
    webkit-box-shadow: 5px 5px 25px $black;
    -moz-box-shadow: 5px 5px 25px $black;
    box-shadow: 5px 5px 25px $black;
    h3 {
        color: $secondary-color;
        font-size: 1.3em;
    }
    section {
        float: left;
        margin-left: 20px;
        margin-top: 16px;
        li {
            color: $secondary-color;
            line-height: 1.5em;
        }
        a {
            color: $secondary-color;
            font-size: 11px;
        }
        /* logos in footer */
        .adp-logo {
            position: absolute;
            top: 25px;
            left: 30px;
        }
        .cart-logo {
            position: absolute;
            top: 20px;
            left: 135px;
        }
        // END logos footer
        .about-us-heading {
            background: $primary-color url(../img/bg_about_us.png) no-repeat;
            width: 166px;
            height: 30px;
        }
        .services-heading {
            background: $primary-color url(../img/bg_heading_services.jpg) no-repeat;
            width: 166px;
            height: 30px;
        }
        .wtgi-heading {
            background: $primary-color url(../img/bg_heading_ways_tgi.png) no-repeat;
            width: 166px;
            height: 30px;
        }
        &.services-spacing {
            padding-left: 64px;
        }
        &.wtgi-spacing {
            padding-left: 54px;
        }
        &.cert-logos-spacing {
            padding-left: 30px;
            margin-top: 0;
            position: relative;
        }
    }
}

/*
footer section {
    float: left;
    margin-left: 20px;
    margin-top: 16px;
     }
    footer section li {
      color: #ffffff;
      line-height: 1.5em; }
    footer section a {
      color: #ffffff;
      font-size: 11px; }
    footer section .adp-logo {
      position: absolute;
      top: 25px;
      left: 30px; }
    footer section .cart-logo {
      position: absolute;
      top: 20px;
      left: 135px; }
    footer section .about-us-heading {
      background: #233e5f url(../img/bg_about_us.png) no-repeat;
      width: 166px;
      height: 30px; }
    footer section .services-heading {
      background: #233e5f url(../img/bg_heading_services.jpg) no-repeat;
      width: 166px;
      height: 30px; }
    footer section .wtgi-heading {
      background: #233e5f url(../img/bg_heading_ways_tgi.png) no-repeat;
      width: 166px;
      height: 30px; }
    footer section.services-spacing {
      padding-left: 64px; }
    footer section.wtgi-spacing {
      padding-left: 54px; }
    footer section.cert-logos-spacing {
      padding-left: 30px;
      margin-top: 0;
      position: relative; }
}

footer section li {
    color: #ffffff;
    line-height: 1.5em;
}

footer section a {
    color: #ffffff;
    font-size: 11px;
}

footer section .adp-logo {
    position: absolute;
    top: 25px;
    left: 30px;
}

footer section .cart-logo {
    position: absolute;
    top: 20px;
    left: 135px;
}

footer section .about-us-heading {
    background: #233e5f url(../img/bg_about_us.png) no-repeat;
    width: 166px;
    height: 30px;
}

footer section .services-heading {
    background: #233e5f url(../img/bg_heading_services.jpg) no-repeat;
    width: 166px;
    height: 30px;
}

footer section .wtgi-heading {
    background: #233e5f url(../img/bg_heading_ways_tgi.png) no-repeat;
    width: 166px;
    height: 30px;
}

footer section.services-spacing {
    padding-left: 64px;
}

footer section.wtgi-spacing {
    padding-left: 54px;
}

footer section.cert-logos-spacing {
    padding-left: 30px;
    margin-top: 0;
    position: relative;
}

.bottom-well-margin { margin-top: 0px; }

.well { margin-bottom: 0px; }
.well-2 { margin-top: 20px; }
.well-2 { background-color: #0a2646; }
.well-2 h6 {
    color: #fff;
    background-color: #091f37;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.well-2 li,
.well-2 li a { color: #fff; }

.footer-border { border-right: 1px solid #091f37; }

.cert-logos { margin-top: 16px; }
*/


