/* box sizing will save your life */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: $primary-color url(../img/body_bg_grad.jpg) repeat-x;
}

article.facebook-entry {
    background: $secondary-color url(../img/bg_facebook_post.png) no-repeat;
    width: 297px;
    height: 321px;
    float: right;
    margin-top: 5px;

    h3 {
    background: $secondary-color url(../img/header_facebook.png) no-repeat;
    width: 293px;
    height: 43px;
    margin-top: 50px;
    }

    h4 {
    color: $mine-shaft;
    padding-left: 30px;
    padding-top: 5px;
    }

    h5 {
    color: $sea-buckthorn;
    padding-left: 30px;
    padding-top: 10px;
    
        span {
        color: $cloud;
        }
    
    }

    p {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 11px;
    padding-right: 30px;
    }
}

aside {
    width: 291px;
    margin-right: 12px;
    float: right;
    height: 294px;

    h2.since1973 {
        background: transparent url(../img/heading_since_1973.png) no-repeat;
        width: 152px;
        height: 42px;
        margin: 16px 10px 0 140px;
        padding: 10px;
        position: inherit;
    }
}

.main-content {
    width: 960px;
    float: left;
    background-color: $secondary-color;
    line-height: 1.4em;
    
    h1 {
        background: $secondary-color url(../img/heading_welcome_bhs.png) no-repeat;
        color: $black;
        width: 623px;
        height: 47px;
        margin-left: 30px;
        margin-top: 15px;
    }

     .colOne {
        width: 290px;
        float: left;
        padding-left: 30px;
    }

    .colTwo {
        width: 290px;
        float: left;
        padding-left: 25px;
    }

    p {
        padding: 10px 0;
    }
}
