/* box sizing will save your life */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: $primary-color url(../img/body_bg_grad.jpg) repeat-x;
}

/* main container of page */
// .container {
//     width: 960px;
//     margin: 0 auto;
//     font-size: 1.2em;
// }
