header {
    position: relative;
    background-color: $dove-gray;
    .misc-items {
        height: 56px;
        background-color: $blue-zodiac;
        position: relative;
    }
    .search-container {
        position: absolute;
        top: 13px;
        left: 485px;
        background: transparent url(../img/bg_box.png) no-repeat;
        width: 258px;
        height: 37px;
        .search-input {
            background-color: transparent;
            border: medium none;
            color: $dusty-gray;
            float: left;
            font-size: 0.9em;
            height: auto;
            margin: 10px 5px 0 28px;
            width: 185px;
        }
        .search-submit {
            margin: 5px 0 0 10px;
            width: 25px;
        }
    }
    .facebook-icon {
        padding: 12px 10px 0 15px;
    }
    .donate {
        position: absolute;
        top: 17px;
        right: 0;
    }
    .logo {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 99;
    }
}
