header {
    position: relative;
<<<<<<< HEAD
    background-color: $dove-gray;
    
    &.page-divider {
        background: $secondary-color url(../img/bg_div_header.jpg) no-repeat;
        height: 374px;
        position: relative;
    }

    &.page-divider h2 {
        background: transparent url(../img/header_blurb.png) no-repeat;
        width: 680px;
        height: 78px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
=======
    background-color: $dove-gray;x
    .misc-items {
        height: 56px;
        background-color: $blue-zodiac;
        position: relative;
    }
    .search-container {
        position: absolute;
        top: 13px;
        left: 485px;
        background: transparent url(../img/bg_box.png) no-repeat;
        width: 258px;
        height: 37px;
        .search-input {
            background-color: transparent;
            border: medium none;
            color: $dusty-gray;
            float: left;
            font-size: 0.9em;
            height: auto;
            margin: 10px 5px 0 28px;
            width: 185px;
        }
        .search-submit {
            margin: 5px 0 0 10px;
            width: 25px;
        }
    }
    .facebook-icon {
        padding: 12px 10px 0 15px;
    }
    .donate {
        position: absolute;
        top: 17px;
        right: 0;
    }
    .logo {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 99;
>>>>>>> upstream/master
    }
}

.misc-items {
    height: 56px;
    background-color: $blue-zodiac;
    position: relative;
}

.search-container {
    position: absolute;
    top: 13px;
    left: 485px;
    background: transparent url(../img/bg_box.png) no-repeat;
    width: 258px;
    height: 37px;
<<<<<<< HEAD
    
    &.search-input {
=======

    .search-input {
>>>>>>> upstream/master
        background-color: transparent;
        border: medium none;
        color: $dusty-gray;
        float: left;
        font-size: 0.9em;
        height: auto;
        margin: 10px 5px 0 28px;
        width: 185px;
    }

<<<<<<< HEAD
    &.search-submit {
=======
    .search-submit {
>>>>>>> upstream/master
        margin: 5px 0 0 10px;
        width: 25px;
    }
}

<<<<<<< HEAD

=======
>>>>>>> upstream/master
.facebook-icon {
    padding: 12px 10px 0 15px;
}

.donate {
    position: absolute;
    top: 17px;
    right: 0;
}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 99;
}
