/* color scheme */
$primary-color:   #233e5f;
$secondary-color: #ffffff;
$dove-gray:       #666666;
$blue-zodiac:     #0c2745;
$dusty-gray:      #999999;
$abbey:           #515152;
$meteor:          #d4740d;
$black:           #000000;
$mine-shaft:      #282424;
$sea-buckthorn:   #f9a634;
$cloud:           #c2c1c0;
$silver:          #cccccc;
$tundora:         #444444;
